/* mixins */
/* makes a multicolumn responsive box */
@font-face {
  font-family: 'icon';
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box; }

body {
  font-family: 'lato';
  color: #444; }

a {
  text-decoration: none;
  color: inherit;
  transition: color .3s; }
  a:hover {
    color: #d0d0d0; }

i {
  font-family: 'icon';
  font-style: normal; }

h2 {
  font-size: 1.125em;
  font-weight: 700;
  margin: 0px 0 20px 0; }

h3 {
  font-size: 0.9375em;
  font-weight: 700;
  color: #666;
  margin: 0 0 5px 0; }

.clearfix {
  height: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  clear: both; }
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

.clear {
  clear: both; }

ul li {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

#holder {
  position: absolute;
  width: 60%;
  margin: 0 auto;
  z-index: 1000;
  padding: 0;
  display: none;
  top: 15%;
  left: 0;
  right: 0;
  background-image: url("../siteart/lightpaperfibers_@2X.png");
  background-size: 300px 500px;
  box-shadow: 3px 3px 3px #999;
  border: 1px solid white;
  border-radius: 3px; }
  #holder .close_box {
    position: absolute;
    right: 10px;
    top: -10px;
    z-index: 100000;
    color: #d0d0d0;
    padding: 0px 4px 1px;
    background-color: white;
    border-radius: 2px;
    border: 1px solid #d0d0d0;
    cursor: pointer;
    transition: color, background-color .2s; }
    #holder .close_box:hover {
      color: white;
      background-color: #d0d0d0; }
  #holder li {
    width: 100%;
    position: relative;
    padding: 0 0 100% 0;
    background-image: none;
    border: 0px; }
    #holder li .bingo_image {
      width: 100%;
      height: auto;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0px; }
    #holder li .bingo_tag {
      width: 100%;
      height: auto;
      position: absolute;
      margin: auto;
      top: 25%;
      left: 0;
      right: 0;
      padding: 5px 20px;
      text-align: center;
      font-size: 1.375em;
      display: block; }
    #holder li .hashtag {
      display: block;
      font-weight: 700;
      color: #666;
      position: absolute;
      bottom: 8px;
      text-align: center;
      width: 100%;
      margin: 0px;
      font-size: 0.875em; }
      @media screen and (min-width: 43.75em) {
        #holder li .hashtag {
          font-size: 1em; } }
      #holder li .hashtag:before {
        content: '#'; }
  #holder .active {
    border: 0px;
    margin: 0px; }
    #holder .active .hashtag {
      color: white;
      bottom: 15px;
      font-size: 1.125em; }

.bingo_headline {
  width: 16.66667%;
  margin-right: 0%;
  box-sizing: border-box;
  font-family: 'Asset', sans-serif;
  margin: 0px;
  width: 100%;
  background-color: rgba(255, 99, 71, 0.5);
  font-weight: 100;
  padding: 0;
  font-size: 0.5em; }
  @media screen and (min-width: 25em) {
    .bingo_headline {
      font-size: 0.8125em; } }
  @media screen and (min-width: 37.5em) {
    .bingo_headline {
      font-size: 1em; } }
  @media screen and (min-width: 43.75em) {
    .bingo_headline {
      font-size: 1.125em; } }
  .bingo_headline li {
    width: 20%;
    margin-right: 0%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 20px 0px;
    font-size: 2.5em;
    text-align: center;
    line-height: 100%;
    color: white;
    text-shadow: 1px 1px 0 #d7533c, 2px 2px 0 #d7533c; }
    @media screen and (min-width: 31.25em) {
      .bingo_headline li {
        text-shadow: 1px 1px 0 #d7533c, 2px 2px 0 #d7533c, 3px 3px 0 #d7533c, 4px 4px 0 #d7533c; } }

.leaderboard_link {
  font-size: 0.875em;
  font-weight: 700;
  color: #666;
  text-align: center; }

.bingo_outer {
  width: 100%;
  margin-right: 0%;
  box-sizing: border-box;
  max-width: 800px;
  margin: 0 auto 50px;
  background-image: url("../siteart/lightpaperfibers_@2X.png");
  background-size: 300px 500px;
  border-radius: 4px;
  background-color: rgba(255, 99, 71, 0.5);
  padding: 20px;
  box-shadow: 2px 2px 3px #d0d0d0;
  border: 1px solid white; }

.bingo_container {
  width: auto;
  height: auto;
  width: 100%;
  margin-right: 0%;
  box-sizing: border-box;
  max-width: 800px;
  margin: 0 auto;
  background-image: url("../siteart/lightpaperfibers_@2X.png");
  background-size: 300px 500px;
  border-radius: 4px;
  background-color: rgba(255, 99, 71, 0.5); }

.bingo_grid {
  padding: 0px;
  margin: 0 auto;
  max-width: 800px;
  border-top: 1px solid biege;
  border-left: 1px solid beigh;
  border-bottom: 1px solid tan;
  border-right: 1px solid tan;
  padding: 15px;
  background-color: rgba(255, 99, 71, 0.8); }
  .bingo_grid li {
    width: 19.2%;
    margin-right: 1%;
    box-sizing: border-box;
    float: left;
    padding-bottom: 20%;
    position: relative;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
    display: table-cell;
    background-image: url("../siteart/mag.svg"), url("../siteart/lightpaperfibers_@2X.png");
    background-size: 40%, 300px 500px;
    background-repeat: no-repeat, repeat;
    background-position: center center;
    font-size: 0.875em;
    border-radius: 3px;
    border: 2px solid #fe8066;
    overflow: hidden; }
    @media screen and (min-width: 34.375em) {
      .bingo_grid li {
        background-image: none, url("../siteart/lightpaperfibers_@2X.png"); } }
    @media screen and (min-width: 43.75em) {
      .bingo_grid li {
        font-size: 1em; } }
    .bingo_grid li:nth-child(5n) {
      margin-right: 0px; }
    .bingo_grid li:nth-child(13) {
      background-image: url("../siteart/star.svg"), url("../siteart/lightpaperfibers_@2X.png");
      background-size: 70%, 300px 500px;
      background-repeat: no-repeat, repeat;
      background-position: center center; }
  .bingo_grid .active {
    border: 2px solid gold; }
    .bingo_grid .active .hashtag {
      color: white;
      text-shadow: 0 0 3px black; }

.bingo_image {
  width: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: -50%;
  right: -50%;
  padding: 0px; }
  @media screen and (min-width: 43.75em) {
    .bingo_image {
      min-width: 140px; } }

.bingo_tag {
  width: 100%;
  height: auto;
  position: absolute;
  margin: auto;
  top: 15%;
  left: 0;
  right: 0;
  padding: 0px 5px;
  text-align: center;
  font-size: .9em;
  display: none; }
  @media screen and (min-width: 34.375em) {
    .bingo_tag {
      display: block; } }

.hashtag {
  display: block;
  font-weight: 700;
  color: #666;
  position: absolute;
  bottom: 40%;
  text-align: center;
  width: 100%;
  margin: auto;
  font-size: 0.75em;
  display: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 2px; }
  @media screen and (min-width: 28.125em) {
    .hashtag {
      display: block;
      bottom: 8px; } }
  @media screen and (min-width: 43.75em) {
    .hashtag {
      font-size: 0.875em; } }
  .hashtag:before {
    content: '#'; }

.main {
  width: 100%;
  margin-right: 0%;
  box-sizing: border-box;
  max-width: 1000px;
  margin: 20px auto; }

/*
--------------
leaderboard page 
--------------
*/
.right_side {
  width: 100%;
  margin-right: 0%;
  box-sizing: border-box; }
  @media screen and (min-width: 31.25em) {
    .right_side {
      width: 50%;
      margin-right: 0%;
      box-sizing: border-box;
      float: left;
      padding: 0 0 0 10px; } }
  @media screen and (min-width: 46.875em) {
    .right_side {
      width: 62.5%;
      margin-right: 0%;
      box-sizing: border-box;
      float: left;
      height: 1000px; } }

.left_side {
  width: 100%;
  margin-right: 0%;
  box-sizing: border-box;
  height: 1000px;
  border-right: 1px solid #d0d0d0; }
  @media screen and (min-width: 31.25em) {
    .left_side {
      width: 50%;
      margin-right: 0%;
      box-sizing: border-box;
      float: left; } }
  @media screen and (min-width: 46.875em) {
    .left_side {
      width: 37.5%;
      margin-right: 0%;
      box-sizing: border-box;
      float: left; } }

.leaderboard {
  margin: 0px;
  padding: 0px 10px 0 0; }
  .leaderboard li {
    border-bottom: 1px solid #d0d0d0;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0; }

.rank {
  width: 32px;
  float: left;
  font-size: 0.875em;
  font-weight: 700;
  color: #999; }

.user_avatar {
  width: 45px;
  height: 45px;
  float: left;
  margin: 4px 0 0 0; }
  .user_avatar img {
    width: 100%; }

.user_info {
  width: auto;
  display: inline-table-cell;
  margin-left: 85px; }

.bingo_status, .last_hashtag {
  font-size: 0.8125em;
  margin: 0 0 5px 0; }

.last_hashtag {
  color: #999; }
  .last_hashtag:before {
    content: '#'; }

.latest_items {
  width: 100%;
  margin-right: 0%;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }
  .latest_items li {
    width: 49.19614%;
    margin-right: 1.60772%;
    box-sizing: border-box;
    float: left; }
    .latest_items li:nth-child(2n) {
      margin-right: 0px; }
    .latest_items li:nth-child(2n+1) {
      clear: left; }
    @media screen and (min-width: 31.25em) {
      .latest_items li {
        width: 100%;
        margin-right: 0%;
        box-sizing: border-box; } }
    @media screen and (min-width: 37.5em) {
      .latest_items li {
        width: 49.19614%;
        margin-right: 1.60772%;
        box-sizing: border-box; } }
    @media screen and (min-width: 53.125em) {
      .latest_items li {
        width: 32.26152%;
        margin-right: 1.60772%;
        box-sizing: border-box; }
        .latest_items li:nth-child(2n) {
          margin-right: 1.60772%; }
        .latest_items li:nth-child(3n) {
          margin-right: 0px; }
        .latest_items li:nth-child(2n+1) {
          clear: none; }
        .latest_items li:nth-child(3n+4) {
          clear: left; } }
    .latest_items li .user_avatar {
      width: 30px;
      height: 30px; }
      @media screen and (min-width: 46.875em) {
        .latest_items li .user_avatar {
          width: 45px;
          height: 45px; } }
    .latest_items li .user_info {
      width: auto;
      display: inline-table-cell;
      margin-left: 38px; }
      @media screen and (min-width: 46.875em) {
        .latest_items li .user_info {
          margin-left: 52px; } }
  .latest_items .tweeted_image {
    width: 100%;
    padding-bottom: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    overflow: hidden; }
    .latest_items .tweeted_image img {
      height: 100%;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: -50%;
      right: -50%; }

.instruct_button, .close_instruct_button {
  width: 100%;
  max-width: 250px;
  height: 40px;
  color: white;
  font-weight: 700;
  font-size: 0.75em;
  background-color: #52a14b;
  text-align: center;
  border-radius: 3px;
  padding: 12px 0 0 0;
  margin: 30px auto 30px;
  cursor: pointer; }
  .instruct_button:hover, .close_instruct_button:hover {
    background-color: #376d33; }

.instruct_overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10000000;
  display: none; }

.no_scroll {
  overflow: hidden; }

.instructions {
  width: 90%;
  margin: 30px auto 0;
  padding: 20px 20px 5px;
  background-image: url("../siteart/lightpaperfibers_@2X.png");
  background-size: 300px 500px;
  box-shadow: 3px 3px 4px #d0d0d0;
  max-width: 500px; }
  .instructions li {
    margin: 0 0 20px 0; }
    .instructions li .hider {
      display: inline; }
      @media screen and (min-width: 34.375em) {
        .instructions li .hider {
          display: none; } }
    .instructions li:before {
      content: '\f0a3';
      font-family: icon;
      color: #52a14b;
      display: inline-block;
      margin: 0 10px 0 0; }
  .instructions h2 {
    font-family: 'Asset', sans-serif;
    font-size: 0.9375em;
    text-align: center;
    color: Red;
    margin: 0px 0 15px 0;
    color: #FF6347; }
    @media screen and (min-width: 28.125em) {
      .instructions h2 {
        font-size: 1.25em; } }
